.about {
   height: 100%;
    padding-top: 40vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

    
        background: linear-gradient(
        to right,
        rgba(black, 1),
        rgba($primary-color, 0.8),
        rgba($primary-color, 0.7)
      ),
      url("../img/about.jpg") center;
    background-size: cover;

    p {
      margin-bottom: 1rem;
    }

    span {
      color: $secondary-color;
    }

    &_paragraph{
      line-height: 45px;
      font-size: larger;
    }
  
  &_bio {
    
    text-align: center;
    font-size: 40px;
    overflow: scroll;
    display: flex;
        flex-direction: column;

    .text-secondary {
      padding-bottom: 1rem;
    }


  }

    .social-icons {
        position: bottom;
        margin-top: 2rem;
    }
  }

