.about {
  padding-bottom: 2rem;

  &_bio-image {
    height: 75vh;
    width: 100%;

    background: linear-gradient(
        to right,
        rgba(black, 1),
        rgba($primary-color, 0.8),
        rgba($primary-color, 0.7)
      ),
      url("../img/about.jpg") center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    p {
      margin-bottom: 1rem;
    }

    span {
      color: $secondary-color;
    }
  }
  &_bio {
    width: 100%;
    text-align: center;
    font-size: 40px;

    .text-secondary {
      padding-bottom: 1rem;
    }

    
  }

  .jobs {
    width: 70vw;
    margin: 2rem auto 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;

    &_job {
      background: lighten($primary-color, 10%);
      padding: 0.5rem;
      border-bottom: 3px solid $secondary-color;

      h2,
      h3 {
        margin: 1rem, 0;
        padding: 5px;
      }
      h5 {
        margin: 0.5rem, 0;
        padding-bottom: 3px;
      }
    }
  }

  .social-icons {
    display: flex;
    flex-direction: column;
  }

  .footer {
    transform: rotate(90deg) translate(-3rem -5rem);
  }
}
