.home {
  height: 100%;
  padding-top: 40vh;
  overflow: hidden;
  align-items: center;
  text-align: center;
  background: linear-gradient(
      to right,
      rgba(black, 1),
      rgba(black, 0.9),
      rgba($primary-color, 0.8),
      rgba($primary-color, 0.7),
      rgba($primary-color, 0.6),
      rgba($primary-color, 0.5),
      rgba($primary-color, 0.4),
      rgba($primary-color, 0.3)
    ),
    url("../img/AnjProfilePic.jpg") center;
  background-size: 250px;
  width: 1450px;
  height: 800px;
  background-size: contain;
  background-repeat:no-repeat;

  &_div{
    margin-top: 15rem;
  }

  &_name {
    font-size: 5rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    border-bottom: 2px solid set-text-color($primary-color);

    &-last {
      color: $secondary-color;
      font-weight: 700;
    }
  }
}
